# Python
__pycache__/
*.pyc
.venv/
venv/
output/

# Environment
.env

# Local outputs
worker/output/*
!worker/output/.gitkeep
worker/examples/*
!worker/examples/.gitkeep

# Node
node_modules/
dist/
build/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# OS
.DS_Store

#pictures
.png
.jpg
.jpeg