# Python
__pycache__/
*.pyc
.venv/
venv/
output/

# Environment
.env
.env.*
!.env.example
!.env.main.example
!.env.worker.example

# Local outputs
worker/output/*
!worker/output/.gitkeep
worker/examples/*
!worker/examples/.gitkeep

results/**/*.csv
results/**/*.json
results/**/*.png

# Node
node_modules/
dist/
build/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars
!*.tfvars.example
*.auto.tfvars

# OS
.DS_Store

#pictures
.png
.jpg
.jpeg

# Benchmark results
results/
benchmark/loadtest_runner/configs/*.json
!benchmark/loadtest_runner/configs/*.example.json
