POSTGRES_USER=postgres
POSTGRES_PASSWORD=<CHANGE_ME>

POSTGRES_DB=image_pipeline

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=<CHANGE_ME>

OBJECT_STORAGE_BUCKET=image-pipeline

MAX_QUEUE_LENGTH=1000

REDIS_MAXMEMORY=512mb