MAIN_NODE_HOST=<INTERNAL_IP_OF_MAIN_NODE>

POSTGRES_USER=postgres
POSTGRES_PASSWORD=<SAME_AS_MAIN>

POSTGRES_DB=image_pipeline

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=<SAME_AS_MAIN>

OBJECT_STORAGE_BUCKET=image-pipeline